/**
 *  Шрифты
 *  Скачивал шрифты отсюда: http://www.fontov.net/ или отсюда https://www.fonts-online.ru/
 *  а конвертировал вот этим инструментом: https://transfonter.org/
 */
@font-face {
    font-family: 'a_AvanteTitlerCpsUpC';
    src: url('/fonts/AAvanteTitlerCpsUpCLight.eot');
    src: url('/fonts/AAvanteTitlerCpsUpCLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AAvanteTitlerCpsUpCLight.woff2') format('woff2'),
    url('/fonts/AAvanteTitlerCpsUpCLight.woff') format('woff'),
    url('/fonts/AAvanteTitlerCpsUpCLight.ttf') format('truetype'),
    url('/fonts/AAvanteTitlerCpsUpCLight.svg#AAvanteTitlerCpsUpCLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_AvanteLt';
    src: url('/fonts/AAvanteLtLight.eot');
    src: url('/fonts/AAvanteLtLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AAvanteLtLight.woff2') format('woff2'),
    url('/fonts/AAvanteLtLight.woff') format('woff'),
    url('/fonts/AAvanteLtLight.ttf') format('truetype'),
    url('/fonts/AAvanteLtLight.svg#AAvanteLtLight') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Общие классы */
* {box-sizing: border-box;}
.box {width: 100%; position: relative;}
.box:after {content: ""; display: block; clear: both;}
.center {text-align: center;}
img {border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}
ul {list-style: none; margin: 0; padding: 0;}
p {margin: 16px 0;}

/* Подгонка под старые браузеры: делаем HTML5 элементы блочными */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}

html, body {position: relative; margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;}
body {color: #6c6c6c; font-size: 14px; font-family: a_AvanteLt, "Segoe UI", Arial, Helvetica, sans-serif;
      letter-spacing: 0.05em; -webkit-font-smoothing: subpixel-antialiased !important;}
.layout__content, .layout__sidebar {
    position: absolute; top: 0; right: 0; bottom: 0; max-width: 100%; height: 100%; overflow: auto;
    transition: left 0.3s ease-in-out; -webkit-overflow-scrolling: touch;}
.layout__content {z-index: 2; left: 0; width: 100%;}
.layout__sidebar {z-index: 0; left: -270px; width: 270px; background: #33373b;}
#sidebar_coating {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.1); z-index: 3; display: none;}
.sidebar-opened .layout__content {left: 270px; overflow: hidden;}   /* overflow:hidden - останавливает прокрутку блока в текущем положении */
.sidebar-opened .layout__sidebar {left: 0;}
.sidebar-opened #sidebar_coating {display: block;}
.container {position: relative; margin: 0 auto; padding: 0 15px;}
@media (min-width: 1200px) { .container {width: 1170px;} }
@media (max-width: 1199px) { .container {width:  970px;} }
@media (max-width:  992px) { .container {width:  750px;} }
@media (max-width:  768px) { .container {width:  100%; } }
hr {box-sizing: content-box; height:0; margin: 15px 0; border:0; border-top: 1px solid #d2d3d4;}

/**
 *  ЗАРЕЗЕРВИРОВАННЫЕ ИМЕНА КЛАССОВ
 *  Не используй эти имена самостоятельно!
 *  Они нужны для уточнений внутри других классов.
 */
.big, .top, .title {}


/**
 *  Сетка и колонки, общий вариант.
 */
.grid {margin: 0 0 -15px -15px; width: auto;}
.grid > * {padding: 0 0 15px 15px;}
.grid > .nogrid {padding-bottom: 0;}
.grid-line {margin: 0 0 0 -15px; width: auto;}
.grid-line > * {padding: 0 0 0 15px;}

.col12{float:left; width: 100%;}
.col11{float:left; width: 91.66666667%;}
.col10{float:left; width: 83.33333333%;}
.col9 {float:left; width: 75%;}
.col8 {float:left; width: 66.66666667%;}
.col7 {float:left; width: 58.33333333%;}
.col6 {float:left; width: 50%;}
.col5 {float:left; width: 41.66666667%;}
.col4 {float:left; width: 33.33333333%;}
.col3 {float:left; width: 25%;}
.col2 {float:left; width: 16.66666667%;}
.col1 {float:left; width:  8.33333333%;}

.fl-l{float: left;}
.fl-r{float: right;}

h2 {font-size: 22px; font-style: italic; font-weight: normal;}

.sec-navbar {position: relative; min-height: 80px; line-height: 80px; margin: 0; background: #fff;}
.sec-navbar .logo {display: inline-block;}
.sec-navbar nav {display: inline-block; float: right; font-size: 16px; text-transform: uppercase;}
.sec-navbar nav ul {display: none;}
.sec-navbar nav > ul {display: block;}
.sec-navbar nav > ul > li {float: left; margin-left: 40px;}
.sec-navbar a {position: relative; padding: 3px 0; text-decoration: none; cursor: pointer; color: inherit;}
.sec-navbar a:visited {color: inherit;}
.sec-navbar a.top:hover::after {left: 0; right: 0;}
.sec-navbar a.top::after {content: ''; position: absolute; bottom: 0; left: 50%; right: 50%; height: 1px; background: #6c6c6c;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)}
@media (max-width: 992px) {
    .sec-navbar nav > ul > li {margin-left: 20px;}
}
@media (max-width:  768px) {
    .sec-navbar {line-height: unset;}
    .sec-navbar .logo {display: block; text-align: center;}
    .sec-navbar .logo img {height: 40px;}
    .sec-navbar nav {display: block; float: none; padding: 10px 0;}
    .sec-navbar nav > ul {text-align: center;}
    .sec-navbar nav > ul > li {float: none; display: inline-block;}
}
@media (max-width: 600px) {
    .sec-navbar nav .fa {display: none;}
    .sec-navbar nav > ul > li {margin-left: 10px;}
    body.page-main  .sec-navbar nav .page-main  {display: none;}
    body.page-photo .sec-navbar nav .page-photo {display: none;}
    body.page-video .sec-navbar nav .page-video {display: none;}
    body.page-more  .sec-navbar nav .page-more  {display: none;}
    body.page-price .sec-navbar nav .page-price {display: none;}
}

.sec-slogan {height: 100%; min-height: 600px; margin-bottom: -160px; padding-bottom: 160px; background: fixed center center no-repeat;}
@media (min-width: 2049px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg2048.jpg"); background-size: cover;}}
@media (max-width: 2048px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg2048.jpg");}}
@media (max-width: 1920px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg1920.jpg");}}
@media (max-width: 1600px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg1600.jpg");}}
@media (max-width: 1220px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg1220.jpg");}}
@media (max-width:  960px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg_960.jpg");}}
@media (max-width:  768px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg_768.jpg");}}
@media (max-width:  480px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg_480.jpg");}}
.sec-slogan > .container {height: 100%;}
.main-slogan {position: relative; width: 45%; height: 100%; margin: auto;}
.main-slogan > div {position: relative; top: 50%; transform: translateY(-50%); padding: 65px;
    background: rgba(255,255,255,0.87); text-align: center;}

.sec-about-me {padding: 1px 0; background: #f2f1ee;}
.sec-about-me > div {position: relative; margin: -47px auto;}
.sec-about-me > div > div {position: relative;}
.sec-about-me .about-me {background: #fff; width: 30%; height: 100%; border: 20px solid #fff; text-align: center; overflow: hidden;}
.sec-about-me .about-me.pic1 {position: absolute; top: 0; left: 0;}
.sec-about-me .about-me.text {position: relative; margin: 0 auto; font-size: 16px;}
.sec-about-me .about-me.pic2 {position: absolute; top: 0; right: 0;}
.sec-about-me .name {text-transform: uppercase;}
.sec-about-me p {margin: 18px 0;}
.sec-about-me hr {margin: 40px 0 20px 0;}
.sec-about-me .about-me > img {position: relative; max-width: none; min-width: 100%; min-height: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%);}
@media (max-width:  992px) {
    .sec-about-me .about-me {width: calc(33.334% + 13px);}
}
@media (max-width: 768px) {
    .sec-about-me .about-me {width: calc(50% + 20px);}
    .sec-about-me .about-me.text {margin-right: 0;}
    .sec-about-me .about-me.pic2 {display: none;}
}
@media (max-width: 600px) {
    .sec-about-me > div {margin: initial; padding: 0;}  /* тут padding перетирает класс .container */
}
@media (max-width:  480px) {
    .sec-about-me .about-me {width: 100%;}
    .sec-about-me .about-me.pic1 {position: relative; padding-bottom: 100%; border-bottom: none;}
    .sec-about-me .about-me > img {position: absolute;}
}

.sec-main-portfolio {padding-top: 47px; background: #cac8c8;}
.sec-main-portfolio .portfolio-item img {width: 100%; border: 15px solid #fff;}
.sec-main-portfolio .portfolio-item {float: left; width: 33.333%;}
@media (max-width:  600px) {
    .sec-main-portfolio .portfolio-item img {border-width: 8px;}
    .sec-main-portfolio .grid {margin: 0 0 -8px -8px;}
    .sec-main-portfolio .grid > * {padding: 0 0 8px 8px;}
}
@media (max-width:  480px) {
    .sec-main-portfolio .portfolio-item {width: 50%;}
}