/* Общие классы */
* {box-sizing: border-box;}
.box {width: 100%; position: relative;}
.box:after {content: ""; display: block; clear: both;}
.center {text-align: center;}
img {border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}
ul {list-style: none; margin: 0; padding: 0;}

/* Подгонка под старые браузеры: делаем HTML5 элементы блочными */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}

html, body {position: relative; margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;}
body {}
.layout__content, .layout__sidebar {
    position: absolute; top: 0; right: 0; bottom: 0; max-width: 100%; height: 100%; overflow: auto;
    transition: left 0.3s ease-in-out; -webkit-overflow-scrolling: touch;}
.layout__content {z-index: 2; left: 0; width: 100%;}
.layout__sidebar {z-index: 0; left: -270px; width: 270px; background: #33373b;}
#sidebar_coating {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.1); z-index: 3; display: none;}
.sidebar-opened .layout__content {left: 270px; overflow: hidden;}   /* overflow:hidden - останавливает прокрутку блока в текущем положении */
.sidebar-opened .layout__sidebar {left: 0;}
.sidebar-opened #sidebar_coating {display: block;}
.container {position: relative; max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 15px;}
@media (min-width:  768px) { .container {width:  750px;} }
@media (min-width:  992px) { .container {width:  970px;} }
@media (min-width: 1200px) { .container {width: 1170px;} }
hr {box-sizing: content-box; height:0; margin: 15px 0; border:0; border-top: 1px solid #d2d3d4;}

/**
 *  ЗАРЕЗЕРВИРОВАННЫЕ ИМЕНА КЛАССОВ
 *  Не используй эти имена самостоятельно!
 *  Они нужны для уточнений внутри других классов.
 */
.big, .top, .title {}


/**
 *  Сетка и колонки, общий вариант.
 */
.grid {margin: 0 0 -15px -15px; width: auto;}
.grid > * {padding: 0 0 15px 15px;}
.grid > .nogrid {padding-bottom: 0;}
.grid-line {margin: 0 0 0 -15px; width: auto;}
.grid-line > * {padding: 0 0 0 15px;}

.col12{float:left; width: 100%;}
.col11{float:left; width: 91.66666667%;}
.col10{float:left; width: 83.33333333%;}
.col9 {float:left; width: 75%;}
.col8 {float:left; width: 66.66666667%;}
.col7 {float:left; width: 58.33333333%;}
.col6 {float:left; width: 50%;}
.col5 {float:left; width: 41.66666667%;}
.col4 {float:left; width: 33.33333333%;}
.col3 {float:left; width: 25%;}
.col2 {float:left; width: 16.66666667%;}
.col1 {float:left; width:  8.33333333%;}

.fl-l{float: left;}
.fl-r{float: right;}

.top-menu {position: relative; height: 80px; margin: 0; background: #fff;}
.sec-slogan {height: 100%; margin-top: -80px; margin-bottom: -80px; background: fixed center center no-repeat;}
.sec-about-me {height: 200px; background: #f2f1ee;}

/* .dish top = (высота картинки * 0.2) */
@media (min-width: 2049px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg2048.jpg"); background-size: cover;}}
@media (max-width: 2048px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg2048.jpg");}}
@media (max-width: 1920px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg1920.jpg");}}
@media (max-width: 1600px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg1600.jpg");}}
@media (max-width: 1220px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg1220.jpg");}}
@media (max-width:  960px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg_960.jpg");}}
@media (max-width:  768px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg_768.jpg");}}
@media (max-width:  480px) {.sec-slogan {background-image: url("/img/slogan_bg/slogan_bg_480.jpg");}}